[Desktop Entry]
Name=S21 HiJack
Comment=DiGiCo S21/S31 snapshot manager
Exec=s21_hijack
Icon=s21_hijack
Terminal=false
Type=Application
Categories=Audio;Mixer;
StartupWMClass=s21_hijack
